<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Admin Login | Toolsx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/admin.css">
</head>

<body>
    <header>
        <div class="logo">
            <i class="fa-solid fa-screwdriver-wrench logo-icon"></i>
            <span class="name-logo">Toolsx</span>
        </div>
        <nav class="navigation">
            <a href="/src/main/resources/templates/admin/register.html" class="btn-demo">Register</a>
        </nav>
    </header>

    <main class="form-container">

        <form id="adminLoginForm">
            <h2 class="title">Admin Login</h2>
            <p class="description">Restricted access · Administrators only</p>

            <div class="input-group">
                <input type="text" placeholder="Admin User" required>
                <input type="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn-main">Sign in</button>
        </form>

    </main>

</body>

</html>