# Archivo: src/main/resources/application.yml
spring:
  application:
    name: projectspringboot
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  jpa:
    show-sql: true   
    hibernate:
      ddl-auto: update    
      dialect: org.hibernate.dialect.MySQLDialect
      format_sql: true

server:
  port: ${SERVER_PORT:8080} 

logging:
  level:
    com.toolsx.projectspringboot: INFO  
    org.springframework.security: INFO
    org.hibernate.SQL: INFO

jwt:
  secret: ${JWT_SECRET:defaultsecretkey}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:900000} 
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000} 

security:
  public-endpoints:
    - /auth/login
    - /auth/register
    - /auth/logout
  

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
