spring:
  application:
    name: projectspringboot

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/toolsx_container?serverTimezone=UTC}
    username: root
    password: Kaneki#G1317
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: ${SERVER_PORT:8080}

security:
  jwt:
    secret: ${JWT_SECRET:toolsx_super_secret_key_2026_seguridad_jwt}
    expiration-ms: ${JWT_EXPIRATION_MS:86400000}

logging:
  level:
    com.toolsx.projectspringboot: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
