:root {
    --bg-dark: #121212;
    --bg-card: #1E1E1E;
    --primary-orange: #FF751F;
    --hover-orange: #FF751F;
    --text-white: #FFFFFF;
    --text-gray: #A0A0A0;
    --danger: #ff4d4d;
    --border-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--bg-dark);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
}


header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.logo-icon {
    color: #fff;
}

.name-logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-orange);
}


.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 500px;
    background-color: var(--bg-card);
    padding: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.6s ease;
}

.title {
    font-size: 1.6rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    text-align: center;
}

.description {
    font-size: 0.85rem;
    color: var(--text-gray);
    margin: 0.6rem 0 2rem;
    text-align: center;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group input {
    height: 3rem;
    padding: 0 1rem;
    background-color: #2C2C2C;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-white);
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary-orange);
}


.role-input {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.05) !important;
}


.btn-main {
    width: 100%;
    height: 3rem;
    margin-top: 1.5rem;
    background-color: var(--primary-orange);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.btn-main:hover {
    background-color: var(--hover-orange);
}


.warning {
    margin-top: 1.4rem;
    font-size: 0.75rem;
    color: var(--danger);
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.navigation a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--bg-dark);
}

.btn-demo {
    background-color: var(--primary-orange);
    color: var(--bg-dark);
    padding: 0.6rem 1.4rem;
    border-radius: 6px;
    font-weight: 700;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}