<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="container header-container">
            <a href="#" class="logo">
                <i class="fa-solid fa-screwdriver-wrench logo-icon"></i>
                <div class="logo-text">T<span>OOLSX</span></div>
            </a>

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

            <div class="nav-buttons">
                <a href="/src/main/resources/templates/cliente/login.html" class="btn btn-secondary">Sign up</a>
                <a href="#" class="btn btn-primary">Log in</a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="hero-subtitle">
                    High-Performance Tools
                </div>
                <h1 class="hero-title"> Professional Tools <br><span>Built to work hard</span></h1>
                <p class="hero-text">At Toolsx, we deliver professional-grade tools built for durability and precision,<br> designed for demanding work.</p>
                <div class="hero-buttons">
                    <a href="#products" class="btn btn-primary">View Tools</a>
                    <a href="#" class="btn btn-secondary">Toolsx Catalog</a>
                </div>
            </div>
            <img src="FOTO.png" alt="" width="370px">
        </div>
    </section>

    <section class="products" id="products">
        <div class="container">
            <div class="section-header">
                <div class="section-subtitle">Our Tools</div>
                <h2 class="section-title">Featured Blends</h2>
                <p class="section-desc">Each Tool is built for durability, power and precision.</p>
            </div>

            <div class="product-grid">
                <div class="product-card">
                    <div class="product-img">
                        <img src="FOTO.png" alt="tool">
                    </div>
                    <div class="product-info">
                        <div class="product-tag">!!!</div>
                        <h3 class="product-title">martillo</h3>
                        <p class="product-desc">xxxxxxxxxxxxxxxxxxxx <br> xxxxxxxxxxxxxxx</p>
                        <div class="product-footer">
                            <div class="product-price">$17.99</div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="FOTO.png" alt="tool">
                    </div>
                    <div class="product-info">
                        <h3 class="product-title">martillo</h3>
                        <p class="product-desc">xxxxxxxxxxxxxxxxxxxx <br> xxxxxxxxxxxxxxx</p>
                        <div class="product-footer">
                            <div class="product-price">$17.99</div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="FOTO.png" alt="tool">
                    </div>
                    <div class="product-info">
                        <div class="product-tag">NEW</div>
                        <h3 class="product-title">martillo</h3>
                        <p class="product-desc">xxxxxxxxxxxxxxxxxxxx <br> xxxxxxxxxxxxxxx</p>
                        <div class="product-footer">
                            <div class="product-price">$17.99</div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>About BrewHaven</h3>
                    <p style="color: rgb(255, 255, 255); margin-bottom: 20px;">agagakgkasgklkdaslkfakfafsgagsaagsagsasg <br> asggsaagsasggsagasagsagsags <br> askklasgklsagklags</p>
                    <div class="social-links">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>

                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul class="footer-links">
                        <li><a href="#">text text text text</a></li>
                        <li><a href="#">text text text text</a></li>
                        <li><a href="#">text text text</a></li>
                        <li><a href="#">text text </a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Contact Us</h3>
                    <ul class="footer-links">
                        <li><i class="fa-solid fa-location-dot"></i> Direccion, de la empresa etc</li>
                        <li><i class="fa-solid fa-phone"></i>(+57) 123-4567891</li>
                        <li><i class="fa-solid fa-envelope"></i>toolsx@hotmail.com.co</li>
                        <li><i class="fa-solid fa-clock"></i>Mon-Sat: 6am - 8pm</li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                &copy; 2026 AGREGAR TEXT TEXT TEXT TEXT TEXT
            </div>
        </div>
    </footer>


    <script src="index.js"></script>
</body>
</html>
